extends layout.pug

block title
	title GeMN - Cadastro

block content
	.content
		.container
			span.alerta Erro!!
			form.form-login
				h1.titulo-pag • Cadastro
				#formulario.form-group
					label(for='email') Email:
					input#email-cadastro.form-control(type='email', placeholder='Email')
					span.form-control-feedback
				.form-group
					label(for='password') Senha:
					input#senha-cadastro.form-control(type='password', placeholder='Senha')
				.form-group
					label(for='password') Senha (re-insira a senha):
					input#senha-cadastro-confirma.form-control(type='password', placeholder='Senha')
				button.btn.btn-primary.botao-registrar(type='submit') Registrar
