extends layout.pug


block title
	title GEMN - Empresa


block content
	.content
		.container
			h3 Empresa
				br
				br
				br
				table.table
					tr
						th Firstname
						th Lastname
					tr
						td Jill
						td Smith
					tr
						td Jill
						td Smith
					tr
						td Jill
						td Smith
