extends layout.pug

block title
	title GEMN - Login

block content
	.content
		.jumbotron
			.container
				h1 .
		.container
			span.alerta Erro!!
			form
				#formulario.form-group
					label(for='email') Endereço de email:
					input#email.form-control(type='email', placeholder='Email')
					span.form-control-feedback
				.form-group
					label(for='password') Senha:
					input#password.form-control(type='password', placeholder='Senha')
				button.btn.btn-primary.botao-confirmar(type='submit') Confirmar
