


/*
Login Page =========================== */
.jumbotron {
	margin-bottom: 20px;
}

.botao-confirmar {
	margin-top: 10px;
} 

.alerta {
	display: none;
	background-color: red;
	padding: 2px;
}

#formulario {
	margin-top: 10px;
}